<h2>About the NBA</h2>
<p>今年のNBAファイナルは4年連続ウォーリアーズ(GSW)vsキャバリアーズ(CLE)の好カードとなっている。</p>
<p>キャバリアーズのレブロンは8年連続ファイナル進出</p>
<p>----------------------------------------------------------------------------------</p>
<p>2014 - 2015シーズンはウォリアーズ、40年ぶりの優勝！</p>
<p>2015 - 2016シーズンのウォーリアーズ、レギュラーシーズン73勝9敗で
マイケルジョーダンの記録を抜きNBA年間最多勝利を記録した</p>
<p>しかし、ファイナルではCLEが屈辱を果たし。1勝3敗からの大逆転優勝</p>
<p>2016  - 2017、ウォーリアーズがファイナル優勝</p>
<p>2017 - 2018シーズンはウォーリアーズ（GSW)が連覇達成</p>
<p>ウォーリアーズはここ4年で3回NBAファイナルを制覇</p>

<p>このままGSWが王朝時代を迎えるか、それを止めるチームが現れるか</p>