<div class="main">
                          
           <div class="copy-container">
             <h2>NBAの世界へようこそ</h2>
           </div>
                           
                <div class="contents">
                  <h3 class="section-title">NBA 2017 - 2018 </h3>
                   
                   <div class="contents-item">
                       <p><%=link_to("NBA選手スタッツ","/players/index/") %></p>
                       
                   </div>
                   
                   <div class="contents-item">
                       <p><%=link_to("リーグ順位","/teams/index/")%></p>
                   </div>
                   
                   <div class="contents-item">
                       <p><%=link_to("PLAYOFFS LEADERS","/players/ppg") %></p>
                   </div>
                   
                   
                   <div class="contents-item">
                       <p><%=link_to("NBA匿名掲示板","/posts/index") %></p>
                   </div>
                   
                </div>
                
                     
                            
</div>
       
                  <div class="footer">
                      <h2>NBA好きの管理人によるまとめサイト</h2>
                  </div>
