<div class="main players-show">
  <div class="container">
    <div class="players">
      
      <h1><%= @player.name %></h1>
      
      <p><%= @player.team %> | <%= "##{@player.number}" %></p>
    </div>
  </div>
</div>